.weather-app {
    margin: 0 auto;
    padding: 100px 200px 0 200px;
    max-width: 700;
}

.weather {
    border-radius: 20px;
    padding-right: 10px;
    font-family: monospace;
    max-width: 700px;
    margin: 40px auto;
}

ul {
    text-decoration: none;
    list-style: none;
}

strong {
    font-size: 20px;
}

h5 {
    line-height: 0.5rem;
}

a {
    text-decoration: none;
}

.mt-3 {
    padding-left: 20px;
}

.form {
    margin: 30px auto;
    padding: 0 50px;
}

.form-control {
    padding: 10px 70px 7px 10px;
    text-transform: capitalize;
}

.btn.btn-success {
    margin-top: 50px;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 10px;
}

.city {
    margin-bottom: 0;
    text-align: left;
    font-size: 50px;
    display: inline;
    padding-left: 15px;
}

.city-info {
    font-size: 16px;
    text-align: left;
    margin: 0 auto;
}

.temp {
    margin: 0 auto;
}

.days {
    margin: 0 auto;
}

.units {
    color: #202124;
    display: inline-block;
    line-height: 24px;
    vertical-align: top;
    font-size: 18px;
    margin-top: 6px;
}

.source-code {
    margin-top: 100px;
    font-weight: bold;
}

.temperature {
    font-size: 64px;
    line-height: 1;
}