.weather {
    border: 2px solid purple;
    border-radius: 20px;
    padding-right: 10px;
    font-family: monospace;
    max-width: 700px;
    margin: 40px auto;
}

ul {
    text-decoration: none;
    list-style: none;
}

strong {
    font-size: 20px;
}

.form {
    margin: 30px auto;
    padding: 0 50px;
}

.form-control {
    padding: 10px 70px 7px 10px;
}

.btn.btn-primary.mb-3 {
    margin-top: 50px;
    font-size: 17px;
    font-weight: bold;
}

.btn.btn-success {
    margin-top: 50px;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 10px;
}

.row.forcast {
    font-size: 35px;
    font-weight: 200px;
}

.city {
    margin-bottom: 0;
    text-align: left;
    font-size: 50px;
    display: inline;
}

.city-info {
    font-size: 16px;
}

.temp {
    margin: 0 auto;
    margin-top: 20px;
}

.days {
    margin: 0 auto;
}

.card,
.hours {
    text-align: center;
    border: 1px solid transparent;
    background-color: transparent;
}

h5 {
    line-height: 0.5rem;
}


/* .days,
.row.forcast {
    color: aliceblue;
} */


/* img.emojione {
    margin: 0px;
    display: inline;
    height: auto;
    width: 50px;
} */

a {
    text-decoration: none;
}


/* h5.card-emo,
.col.emoji {
    font-size: 25px;
    vertical-align: middle;
} */

.units {
    color: #202124;
    display: inline-block;
    line-height: 24px;
    vertical-align: top;
    font-size: 18px;
    margin-top: 6px;
    padding-left: 0;
}

.col-6.temp {
    margin: 10px auto;
}

.city-info {
    margin: 10px auto;
}

.source-code {
    margin-top: 100px;
    font-weight: bold;
}

.clearfix.temp {
    display: inline;
    padding-left: 20px;
}

.temperature strong {
    font-size: 64px;
    margin: 0 auto;
    padding-right: 0;
    line-height: 60px;
    font-weight: 200px;
}

.icon {
    display: inline-block;
    vertical-align: top;
    height: 60px;
    margin-top: unset;
    width: 60px;
}